/**************/
/* Custom CSS */
/**************/
body{
margin:0;
}

a  {
color:white;
}

a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

#nav {
	position: fixed;
	width: 100%;
	height:66px;
	background-color: #201000;
	margin:0;
	top:0;
	overflow: hidden;
}


p.menu{
	font-family: Raleway, arial;
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: light;
	letter-spacing: 2.7px;
}



.logo{
	/*vertical-align: middle;*/
padding-top:17px;
padding-left: 24px;
float: left;
max-width: 73%;
max-height: 73%;

}

.menu{
color:rgb(255,255,255);
float: right;
padding-top:26px;
padding-right: 25px;
}


.mainPage{

font-family: Raleway, arial;
font-size: 13pt;
text-transform: uppercase;
font-weight: lighter;
letter-spacing: 3px;
color:rgb(255,255,255);
}


#section1 {
	padding-top:35vh;
	height:100vh;
	text-align: center;
	background-color: #43270E;
	
}

#section1b {
	padding-top:27vh;
	height:100vh;
	text-align: center;
	background-color: #43270E;
	
}

.coffeeImg{
	cursor: pointer;
	margin: 12px;
	/*padding: 10px 0px;*/
}


#section2 {
	padding-top:24vh;
	height:100vh;
	text-align: center;
	background-color: #261506;
}

#coffeeShops{
margin:auto;
width:60%;
height: 30%;
/*padding:20px;*/
}

p.coffeeShop{
	display:inline-block;
	font-size: 12px;
	width: 180px;
	height: 38px;
	margin-right: 18px;
	margin-top: 10px;
	padding-top: 10px;
	cursor: pointer;
	background: transparent;
	border: 1px solid white;
    border-radius: 5px;
	/*float: left;*/
}

p.coffeeShop:hover {

	color:#201000;
	cursor: pointer;
	background: white;
	border: 1px solid white;
    border-radius: 5px;

}

/*p.coffeeShop:visited {
	display:inline;
	font-size: 12px;
	color:#201000;
	cursor: pointer;
	background: white;
	border: 1px solid white;
    border-radius: 5px;
	float: left;
}*/

#nextButton{
	display: inline-block;;
	margin-top:60px;
	width: 100%;
}


button.next{
color: white;
background-color: transparent;
width: 240px;
height: 40px;
letter-spacing: 5px;
border-style: solid;
}


#section3 {
	display:none;
	padding-top:40vh;
	height:100vh;
	text-align: center;
	background-color: #43270E;
}

#section3b {
	display:none;
	padding-top:40vh;
	height:100vh;
	text-align: center;
	background-color: #43270E;
}

#yesnoHolder{
	display: inline-block;
	/*width: 600px;*/
	height: 140px;
	margin:auto;

/*padding:20px;*/
}

#noHolder{
	display: inline-block;
	/*width: 600px;*/
	height: 140px;
	margin:auto;

padding-top: 40px;
} 


p.yesorno{
	display: inline-block;
	font-size: 12px;
	width: 180px;
	height: 38px;
	margin-right: 28px;
	margin-top: 9px;
	padding-top: 9px;
	cursor: pointer;
	background: transparent;
	border: 1px solid white;
    border-radius: 5px;
}

p.yesorno:hover {
	display: inline-block;
	color:#201000;
	background-color: white;
	border: 1px solid white;
    border-radius: 5px;
}

/*
#next{

	margin-top: 80px;
	letter-spacing: 2.7px;

}
*/


#section4 {
	padding-top:100px;
	padding-bottom:100px;
	height:100%;
	text-align: center;
	background-color: #43270E;
}

/*//Coffee Fact PAge//------------------------------ */




p.coffeeFact{
	font-family: "Raleway", arial;
	font-size: 18pt;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2.7px;
}


/*//Result All PAge//------------------------------ */

#section1c {
	padding-top:160px;
	height:100%;
	padding-bottom: 200px;
	text-align: center;
	background-color: #43270E;	
}

#section2c {
	padding-top:100px;
	height:100%;
	padding-bottom: 200px;
	text-align: center;
	background-color: #261506;	
}

#section3c {
	padding-top:160px;
	height:100%;
	padding-bottom: 200px;
	text-align: center;
	background-color: #43270E;	
}


.pplPerCups{
	display:inline-block;
	width: 100px;
	height: 120px;
}

#whereBuyCoffee{
	display:inline-block;
	text-align: center;
	width:120px;
	height:160px;
	margin: 10px

}


.pplPerShops{
	display:inline-block;
	text-align: center;
	line-height: 25px;
	padding-top: 23px;
	/*padding-top: 20px;*/
	width:100px;
	height:100px;
	border-radius: 50%;
	background-color:#362212;
	border: none;
}

.number-size{
	font-size: 28pt;
	font-style: bold;
}

.number-size2{
	font-size: 30pt;
	font-style: bold;
}

.number-size3{
	display:inline-block;
	/*position:absolute;*/
	font-size: 28pt;
	font-style: bold;
}

p.sm{
	display:inline-block;
/*position:absolute;*/
font-family: "Raleway", arial;
	font-size:9pt;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 3px;
}

.shopName{
	display:inline-block;
	/*width:180px;*/
	position: relative;
	height: 40px;
	margin-top:10px;
	font-family: "Raleway", arial;
	font-size:11pt;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	line-height: 1em;'
}

#yesnoHolder2{
	display: inline-block;
	margin-top: 30px;
	height: 200px;
}

.yesnoAnswer{
	display:inline-block;

/*	width: 150px;*/

}

.noAnswer{
	display:inline-block;
/*	margin-top: 40px;
	padding-top: 80px;
/*	width: 150px;*/
	height: 180px;
}



button.howto{
color: white;
background-color: transparent;
border-style: solid;
width: 280px;
height: 40px;
font-size: 12px;
letter-spacing: 3px;
}

.lineA{
display: inline-block;
margin-top:30px;
width:110px;
height:1px;
background-color: white;
/*transform: rotate(320deg);*/
}

.lineb{
display: inline-block;
width:220px;
height:1px;
background-color: white;
transform: rotate(320deg);
}

